<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648937385856-mrs3d5o0d01hu2vcus1f2jt85hs1kfij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648937385856-mrs3d5o0d01hu2vcus1f2jt85hs1kfij</string>
	<key>API_KEY</key>
	<string>AIzaSyCH3AAe_Q4aEUUyKjBV9_47mwBHIvyKz38</string>
	<key>GCM_SENDER_ID</key>
	<string>648937385856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.ipydev.pillendar</string>
	<key>PROJECT_ID</key>
	<string>pillendar-8ac03</string>
	<key>STORAGE_BUCKET</key>
	<string>pillendar-8ac03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648937385856:ios:29a45ed7c6385ae80c5b65</string>
</dict>
</plist>